@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  h1, h2, h3, h4, h5, p, span {
    @apply text-textColor dark:text-textColorDark;
  }

  .task-background {
    @apply bg-bgColor border-bgColor dark:bg-bgColorDark dark:border-bgColorDark hover:bg-opacity-90
  }

  .theme-border {
    @apply border-textSecondary dark:border-textSecondaryDark
  }

  .theme-text {
    @apply text-textColor dark:text-textColorDark
  }

  .theme-icon {
    @apply opacity-100 hover:opacity-60
  }

  .theme-textSecondary {
    @apply text-textSecondary dark:text-textSecondaryDark
  }
  
  .simple-hover {
    @apply transition-opacity duration-300 opacity-0 hover:opacity-100;
  }

  .input {
    @apply block w-full px-3 py-2 mt-1 rounded-md placeholder-slate-400 dark:placeholder-opacity-60; 
  }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }

    /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}